*{
    padding: 0;
    margin: 0;
}
.main{
    background: #63cdda;
    width: 100%;
    height: 100vh;
    display: inline-flex;
}
#editer{
    width: 100%;
    height: 95%;
    margin: 10px;
    padding: 5px;
}
#live-view{
    background: #fff;
    border: none;
    width: 100%;
    height: 96%;
    margin: 10px;
    border: 1px solid #ea8685;
}
